.info-container {
    text-align: center;
  }
  
  .info-header {
    cursor: pointer;
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: rgb(152, 14, 99);
  }
  
  .info-header span {
    margin-left: 5px;
    text-decoration: underline;
    margin-bottom: 15px;
  }
  
  .popup {
    border: 2px dotted rgb(152, 14, 99);
    padding: 10px;
  }

  .popup p {
    margin: 7px;
    font-size: 14px;
  }

  .buttonInfo{
    background-color: transparent;
    color: rgb(152, 14, 99);
    padding: 4px;
    border-color: transparent;
    border-radius: 20px;
    cursor: pointer;
  }
  