.search-form-container {
    border-radius: 25px;
    /* border: 2px solid #ffffff; */
    width: 450px;
    height: 50px;
    position: relative; 
    background-color: #faf1f1;
  }
  
  .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
  }
  
  .search-form{
    padding-left: 30px;

  }
  input[type="text"] {
    border: 0;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    width: calc(100% - 40px);
    /* font-family: 'Playfair Display', serif;  */
  }
  
  .search-form input[type="text"]::placeholder {
    color: #aaa;
  }
  