.book-container {

  display: flex;
  /* justify-content: center; */
  align-items: flex-start;
}

.book-details-container {
  display: flex;
  flex: 1;
  align-items: flex-start;
}

.book-image-container {
  margin-right: 20px;
}

.book-image-container img {
  width: 100%;
  height: auto;
}
.no-cover-selected {
  width: 200px;
  height: 350px;
  border: 3px dotted #372626;
  display: flex;
  justify-content: center;
  align-items: center;
}


.book-details {
  max-width: 600px;
  display: flex;
  flex-direction: column; 
}

.book-details h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0px;
}

.book-details p {
  font-size: 18px;
  margin-bottom: -3px;
  /* font-weight: bold; */
  /* color: rgb(152, 14, 99); */
}

  .book-details ul {
    font-size: 15px;
    /* font-weight: bold; */
    color: rgb(152, 14, 99);
  }
  
  
  .subject-list {
    width: 80%;
    max-height: 350px;
    overflow-y: auto;
    margin-left: -45px;
  }
  
  .subject {
    cursor: pointer;
    position: relative;
    padding: 5px;
    display: inline-block;
    /* margin-left: -10px; */
  }
  
  .subject::before {
    content: '\2022'; /* Unicode for bullet point */
    margin-right: 8px;
  }
  
  .subject::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 19px;
    width: 85%;
    height: 2px;
    background-color: rgb(229, 150, 163);
    transition: width 0.5s, background-color 0.5s;
  }
  
  .subject:hover::after {
    width: 90%;
    background-color: rgb(57, 21, 21);
  }
  